// global scss file that mainly overrides vuetify defaults

$Source-Sans-Pro: "Source Sans Pro", helvetica, sans-serif !important;
$Poppins: 'Poppins', helvetica, sans-serif !important;

// override vuetify default font and size
.v-application {
  [class*='text-'] {
    font-family: $Poppins;

    @media only screen and  (max-width: 800px) {
      font-size: 14px;
    }
  }

  font-family: $Poppins;

  @media only screen and  (max-width: 800px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

// title for each page view
.page-title {
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 1px;;
}
