// global scss file that mainly overrides vuetify defaults

// color theme available as scss variables; also available as properties in vuetify components
// see @/plugins/vuetify.js

/*
 * $primary: #2196F3;
 * $primaryLight: #5ddef4;
 * $primaryDark: #007c91;
 * $secondary: #ffa000;
 * $secondaryLight: #ffc947;
 * $secondaryDark: #c66900;
 */
$primary: #424242;
$primaryLight: #6d6d6d;
$primaryDark: #1b1b1b;
$secondary: #f47b00;
$secondaryLight: #ffac42;
$secondaryDark: #ba4c00;

// complementary colors
$not-purple: #9fa8da;
$not-green: #a5d6a7;
$eggshell: #fff3e0;

// override default vuetify fonts
$Source-Sans-Pro: "Source Sans Pro", helvetica, sans-serif !important;
$Poppins: 'Poppins', helvetica, sans-serif !important;

// override vuetify default font use and size
.v-application {
  [class*='text-'] {
    font-display: swap;
    font-family: $Poppins;

    @media only screen and  (max-width: 800px) {
      font-size: 14px;
    }
  }

  font-display: swap;
  font-family: $Poppins;

  @media only screen and  (max-width: 800px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

// title for each page view
.page-title {
  font-size: 1.75em;
  letter-spacing: 1px;
  text-align: center;
}
