// global scss file that mainly overrides vuetify defaults

// color theme available as scss variables; also available as properties in vuetify components
// see @/plugins/vuetify.js <- Vuetify.js will prioritze this file over all!!!
//
// If setting color with Vueitify property "color", Vueitify will reference it's plugin file. If we
// want to use the color scheme with the same name scheme within the scss of the various vue files,
// we need to define the colors here. I'm using Vuetify's color property exclusively for now.

/*
 * $primary: #424242;
 * $primaryLight: #6d6d6d;
 * $primaryDark: #1b1b1b;
 * $secondary: #f47b00;
 * $secondaryLight: #ffac42;
 * $secondaryDark: #ba4c00;
 */

// complementary colors
$not-purple: #9fa8da;
$not-green: #a5d6a7;
$eggshell: #fff3e0;

// override default vuetify fonts
$Source-Sans-Pro: "Source Sans Pro", helvetica, sans-serif !important;
$Poppins: "Poppins", helvetica, sans-serif !important;

// override vuetify default font use and size
.v-application {
  [class*="text-"] {
    font-display: swap;
    font-family: $Poppins;
  }

  font-display: swap;
  font-family: $Poppins;
}

// reset all default decorations
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

// zoom on hover and color change for icon links
.icon-link {
  margin: 1rem;
  transition: transform 0.2s;

  &:hover {
    color: black;
    transform: scale(1.25);
  }
}
